
# --- .NET build outputs ---
bin/
obj/

# --- User-specific files ---
*.user
*.suo
*.rsuser

# --- Visual Studio / Rider ---
.vs/
.idea/

# --- Logs ---
*.log

# --- OS files ---
.DS_Store
Thumbs.db

# --- Publish outputs ---
publish/


# --- Environment variables ---
.env
.env.local

!.env.example 

# --- Environment-specific appsettings ---
appsettings.Development.json
appsettings.Production.json
appsettings.*.json

!appsettings.json
!appsettings.Example.json


# --- Vim temp files ---
*.swp
*.swo
*.swn
*.swx
